{% extends 'base.html' %} 

{% block content %} 
<br><br>
<div class="container">
    <form method='POST' action='{% url "signup" %}'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name='username' id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="A username">
        </div>
        <div class="mb-3">
            <label for="passwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name='passwd' placeholder="Apassword123">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
    
{% endblock %}